.additional {
  border: none;
  margin: 0;
  padding: 0;
}

.additional__legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 34px;
}

.additional__label {
  display: block;

  &:not(:last-of-type) {
    margin-bottom: 12px;
  }

  &:last-of-type {
    margin-bottom: 34px;
  }
}

.additional__label-name {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .additional__wrapper {
    display: grid;
    grid-template-columns: 282px 282px;
    column-gap: 60px;
    row-gap: 32px;
  }

  .additional__label:not(:last-of-type) {
    margin-bottom: 0;
  }
}

@media (min-width: @dekstop-width) {
  .additional__wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
    align-items: center;
    justify-content: flex-start;
    column-gap: 104px;
  }

  .additional__label {
    margin-bottom: 0;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .additional__label-name {
    font-size: 20px;
    line-height: 30px;
  }
}
