.additional-products {
  padding-top: 25px;
  padding-right: 20px;
  padding-left: 20px;
}

.additional-products__title {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 36px;
}

.additional-products__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.additional-products__item {
  padding-top: 13px;
  padding-bottom: 19px;
}

.additional-products__name {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 13px;
}

.additional-products__characteristics {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional-products__characteristics-property {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-products__characteristics-value {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.additional-products__purchase-button {
  display: block;
  width: 280px;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
