.aim {
  border: none;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 23px;

  @media (max-width: @tablet-width-only) {
    width: 630px;
    margin: 0 auto;
  }

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @color-border-decoration-additional;
    border-bottom: 1px solid @color-border-decoration-additional;
    width: 100%;
  }
}

.aim__container {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 630px;
  }

  @media (min-width: @dekstop-width) {
    width: 568px;
  }
}

.aim__label {
  display: block;
  padding-left: 45px;
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 18px;
  }
}

.aim__input-control-mark {
  position: absolute;
  left: 0;
  background-color: @main-theme-color;
  border: 1px solid @color-catalog-text-decoration;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  @media (max-width: @mobile-width-only) {
    width: 30px;
    height: 30px;
  }

  .aim__input:hover + & {
    border: 1px solid @color-checkbox-hover;
  }

  .aim__input:disabled + & {
    border: 1px solid @color-checkbox-hover;
    opacity: 0.3;
  }
}

.aim__input[type="radio"]:checked + .aim__input-control-mark::before {
  position: absolute;
  content: "";
  background-color: @additional-theme-color;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  top: 10px;
  left: 10px;

  @media (max-width: @mobile-width-only) {
    width: 13px;
    height: 13px;
    top: 8px;
    left: 8px;
  }
}


.aim__label-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  font-family: @main-font;
  text-transform: uppercase;
  color: @description-color-additional;

  .aim__input:disabled & {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .aim {
    border: 1px solid @color-border-form;
    padding-left: 0;
  }

  .aim__label-name {
    font-size: 20px;
    line-height: 30px;
  }

  .aim__label {
    &:not(:last-of-type) {
      margin-bottom: 23px;
    }
    padding-left: 57px;
    margin-left: 30px;
  }
}

@media (min-width: @dekstop-width) {
  .aim {
    border: 1px solid @color-border-form;
    padding-left: 0;
    padding-top: 30px;
  }

  .aim__label-name {
    font-size: 20px;
    line-height: 30px;
  }

  .aim__label {
    margin-left: 25px;

    &:not(:last-of-type) {
      margin-bottom: 23px;
    }
  }
}
