.basic {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}

.basic__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.basic__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @description-main-color;
  text-transform: uppercase;
}

.basic__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @description-main-color;
  text-transform: uppercase;
  font-family: @main-font;
  padding-top: 13px;
  padding-left: 14px;
  padding-bottom: 14px;
  border: 1px solid @color-border-form;
  box-sizing: border-box;

  &--name {
    width: 229px;
  }

  &--weight {
    width: 204px;
  }

  &--age {
    width: 172px;
  }
}

@media (min-width: @tablet-width) {
  .basic__input {
    &--name {
      width: 567px;
    }

    &--weight {
      width: 536px;
    }

    &--age {
      width: 497px;
    }
  }
}

@media (min-width: @dekstop-width) {
  .basic__input {
    &--name {
      width: 506px;
    }

    &--weight {
      width: 475px;
    }

    &--age {
      width: 436px;
    }
  }
}
