.basic {
  border: none;
  padding: 0;
  padding-bottom: 24px;
  position: relative;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 630px;
  }

  @media (min-width: @dekstop-width) {
    width: 570px;
  }
}

.basic__wrapper {
  display: flex;
  align-items: center;
  column-gap: 13px;

  &:not(:last-of-type) {
    margin-bottom: 14px;
  }
}

.basic__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @description-main-color;
  text-transform: uppercase;
}

.basic__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @description-main-color;
  text-transform: uppercase;
  font-family: @main-font;
  padding-top: 10px;
  padding-left: 18px;
  padding-bottom: 15px;
  padding-right: 15px;
  border: 1px solid @color-border-form;
  box-sizing: border-box;
  flex-grow: 1;

  &:hover {
    border: 1px solid @color-catalog-text-decoration;
  }

  &:focus {
    border: 1px solid @description-main-color;
    outline: 1px solid @description-main-color;
  }

  &:focus-visible {
    border: 1px solid @description-main-color;
    outline: 1px solid @description-main-color;
  }

  &:not(:placeholder-shown):invalid {
    border: 1px solid @color-input-error;
    outline: 1px solid @color-input-error;
  }
}

@media (min-width: @tablet-width) {
  .basic {
    padding-bottom: 72px;
  }

  .basic__input {
    font-size: 20px;
    line-height: 30px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .basic__label {
    font-size: 20px;
    line-height: 30px;
  }

  .basic__wrapper {
    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }
}

@media (min-width: @dekstop-width) {
  .basic {
    padding-bottom: 0;
  }
}
