.basic {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
  position: relative;

  &::after {
    @media (max-width: @mobile-width-only) {
      content: "";
      position: absolute;
      background-color: @color-border-decoration-additional;
      width: 320px;
      height: 1px;
      bottom: 0;
      left: -20px;
    }
  }
}

.basic__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 14px;
  }
}

.basic__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @description-main-color;
  text-transform: uppercase;
}

.basic__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @description-main-color;
  text-transform: uppercase;
  font-family: @main-font;
  padding-top: 13px;
  padding-left: 14px;
  padding-bottom: 14px;
  padding-right: 20px;
  border: 1px solid @color-border-form;
  box-sizing: border-box;

  &--name {
    width: 229px;
  }

  &--weight {
    width: 204px;
  }

  &--age {
    width: 172px;
  }

  &:hover {
    border: 1px solid @color-catalog-text-decoration;
  }

  &:focus {
    border: 1px solid @description-main-color;
    outline: 1px solid @description-main-color;
  }

  &:focus-visible {
    border: 1px solid @description-main-color;
    outline: 1px solid @description-main-color;
  }

  &:invalid {
    border: 1px solid @color-input-error;
    outline: 1px solid @color-input-error;
  }
}

@media (min-width: @tablet-width) {
  .basic {
    padding-bottom: 72px;
  }

  .basic__input {
    font-size: 20px;
    line-height: 30px;

    &--name {
      width: 567px;
    }

    &--weight {
      width: 536px;
    }

    &--age {
      width: 497px;
    }
  }

  .basic__label {
    font-size: 20px;
    line-height: 30px;
  }

  .basic__wrapper {
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
  }
}

@media (min-width: @dekstop-width) {
  .basic__input {
    &--name {
      width: 506px;
    }

    &--weight {
      width: 475px;
    }

    &--age {
      width: 436px;
    }
  }

  .basic {
    padding-bottom: 0;
  }
}
