.catalog {
  padding-top: 27px;
  padding-bottom: 25px;
  margin: 0 auto;

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @color-border-decoration-additional;
    border-bottom: 1px solid @color-border-decoration-additional;
  }
}

.catalog__title-wrapper {
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @dekstop-width) {
    width: @dekstop-width;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (max-width: @mobile-width-only) {
    margin-left: 20px;
  }
}

.catalog__list {
  padding: 0;
  list-style-type: none;
}

.catalog__item {
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 20px;
  padding-left: 20px;

  &--more {
    padding-top: 75px;
  }
}

@media (min-width: @tablet-width) {
  .catalog {
    padding-top: 64px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .catalog__container {
    margin: 0 auto;
    width: @tablet-width;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 324px 324px;
    column-gap: 60px;
    row-gap: 141px;
    margin-left: auto;
    margin-right: auto;
  }

  .catalog__title {
    margin-bottom: 163px;
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__item {
    padding-bottom: 39px;
    padding-right: 36px;
    padding-left: 36px;
    padding-top: 161px;
  }
}

@media (min-width: @dekstop-width) {
  .catalog {
    padding-left: 110px;
    padding-right: 110px;
  }

  .catalog__container {
    margin: 0 auto;
    width: @dekstop-width;
  }

  .catalog__list {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 144px;
  }

  .catalog__title {
    margin-bottom: 165px;
    font-size: 60px;
    line-height: 60px;
  }

  .catalog__item {
    padding-bottom: 40px;
    padding-right: 39px;
    padding-left: 40px;

    &--more {
      padding-top: 160px;
    }
  }
}
