.contacts {
  padding: 0;
  padding-bottom: 24px;
  border: none;
  margin: 0;
  margin-top: 26px;
}

.contacts__legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  margin-bottom: 35px;
}

.contacts__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:not(:last-of-type) {
    margin-bottom: 14px;
  }
}

.сontacts__label {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: @description-main-color;
  text-transform: uppercase;
}

.contacts__input {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @description-main-color;
  font-family: @main-font;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 15px;

  &--phone {
    width: 204px;
  }

  &--email {
    width: 219px;
  }
}

@media (min-width: @tablet-width) {
  .contacts__input {
    &--phone {
      width: 535px;
    }

    &--email {
      width: 551px;
    }
  }
}

@media (min-width: @dekstop-width) {
  .contacts__properties-container {
    display: flex;
  }

  .contacts__input {
    &--phone {
      width: 486px;
    }

    &--email {
      width: 472px;
    }
  }

  .contacts__wrapper {
    width: 570px;

    &:not(:last-of-type) {
      margin-bottom: 0;
      margin-right: 78px;
    }
  }

  .contacts {
    padding-bottom: 69px;
  }
}
