.gift {
  margin-top: 35px;
  margin-bottom: 35px;
  background-image: url("../img/gift-background.jpg");
  background-repeat: no-repeat;
  height: 290px;
  padding-right: 60px;
  padding-left: 60px;
  display: flex;
  align-items: flex-end;
  position: relative;
  padding-bottom: 40px;


  @media (min-resolution: @retina) {
    background-image: url("../img/gift-background@2x.jpg");
  }
}

.gift__description {
  margin: 0;
  font-family: @text-font;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @main-theme-color;
  text-align: center;

  &::before {
    content: url("../img/icon_gift.svg");
    position: absolute;
    width: 78px;
    height: 80px;
    top: 59px;
    left: 35%;
  }
}

@media (min-width: @tablet-width) {
  .gift {
    margin-bottom: 76px;
    width: 100%;
    background-size: cover;
    justify-content: end;
    height: 200px;
    background-position: 100% 60%;
    position: relative;
    padding-bottom: 70px;
  }

  .gift__description {
    margin-bottom: 0;
    width: 161px;
    text-align: left;

    &::before {
      content: url("../img/icon_gift.svg");
      position: absolute;
      width: 78px;
      height: 80px;
      top: 57px;
      left: 77px;
    }
  }
}

@media (min-width: @dekstop-width) {
  .gift {
    margin-top: 0;
    margin-bottom: 0;
    width: 245px;
    height: 289px;
    align-items: flex-end;
    margin-left: auto;
    position: relative;
    background-size: cover;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
  }

  .gift__description {
    text-align: center;
    width: 161px;

    &::before {
      content: url("../img/icon_gift.svg");
      position: absolute;
      width: 78px;
      height: 80px;
      top: 62px;
      left: 84px;
    }
  }
}
