.how-it-works {
  padding-bottom: 49px;
  padding-left: 20px;
  padding-right: 20px;
  width: 320px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @dekstop-width) {
    width: @dekstop-width;
  }
}

.how-it-works__title {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;
}

.how-it-works__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.how-it-works__item {
  padding-left: 80px;

  &:not(:last-of-type) {
    margin-bottom: 27px;
  }

  &--nutrients {
    background-image: @nutrients-icon;
    background-repeat: no-repeat;
    background-position: left;
  }

  &--preparing {
    background-image: @preparing-icon;
    background-repeat: no-repeat;
    background-position: left;
  }

  &--usage {
    background-image: @usage-icon;
    background-repeat: no-repeat;
    background-position: left;
  }

  &--outcome {
    background-image: @outcome-icon;
    background-repeat: no-repeat;
    background-position: left;
  }
}

.how-it-works__description {
  font-size: 14px;
  line-height: 18px;
  color: @description-main-color;
  font-family: "Arial'", sans-serif;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .how-it-works {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
  }

  .how-it-works__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .how-it-works__list {
    display: grid;
    grid-template-columns: 230px 230px;
    column-gap: 153px;
    row-gap: 37px;
  }

  .how-it-works__item {
    padding-left: 0;
    padding-top: 151px;
    margin-bottom: 0;
    padding-bottom: 57px;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }

    &--nutrients {
      background-image: @nutrients-icon, @how-it-works-first-step;
      background-repeat: no-repeat;
      background-position: 0 40px, 118px 40px;
    }

    &--preparing {
      background-image: @preparing-icon, @how-it-works-second-step;
      background-repeat: no-repeat;
      background-position: 0 40px, 118px 40px;
    }

    &--usage {
      background-image: @usage-icon, @how-it-works-third-step;
      background-repeat: no-repeat;
      background-position: 0 40px, 118px 40px;
    }

    &--outcome {
      background-image: @outcome-icon, @how-it-works-fourth-step;
      background-repeat: no-repeat;
      background-position: 0 40px, 118px 40px;
    }
  }
}

@media (min-width: @dekstop-width) {
  .how-it-works {
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 71px;
  }

  .how-it-works__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .how-it-works__list {
    display: flex;
    align-items: center;
    column-gap: 94px;
  }

  .how-it-works__item {
    padding-left: 0;
    padding-top: 151px;
    margin-bottom: 0;
    padding-bottom: 57px;
    width: 230px;

    &--nutrients {
      background-image: @nutrients-icon, @how-it-works-first-step;
      background-repeat: no-repeat;
      background-position: 0 40px, 118px 40px;
    }

    &--preparing {
      background-image: @preparing-icon, @how-it-works-second-step;
      background-repeat: no-repeat;
      background-position: 0 40px, 118px 40px;
    }

    &--usage {
      background-image: @usage-icon, @how-it-works-third-step;
      background-repeat: no-repeat;
      background-position: 0 40px, 118px 40px;
    }

    &--outcome {
      background-image: @outcome-icon, @how-it-works-fourth-step;
      background-repeat: no-repeat;
      background-position: 0 40px, 118px 40px;
    }
  }
}
