.invitation {
  &--main {
    background-color: @main-theme-color;
  }
}

.invitation__wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 26px;
}

.invitation__title {
  text-transform: uppercase;
  color: @description-color-3;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.invitation__address {
  color: @description-main-color;
  font-size: 14px;
  line-height: 20px;
  font-family: @text-font;
  font-style: normal;
}

@media (min-width: @tablet-width) {
  .invitation__wrapper {
    justify-content: space-between;
    height: 200px;
  }
}

@media (min-width: @dekstop-width) {
  .invitation__wrapper {
    background-color: @main-theme-color;
    justify-content: space-between;
    width: 565px;
    padding-left: 80px;
    padding-top: 60px;
    padding-right: 80px;
    padding-bottom: 56px;
  }
}
