.invitation {
  &--main {
    background-color: @color-white;
  }
}

.invitation__wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 26px;
}

.invitation__title {
  text-transform: uppercase;
  color: @color-light-black;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
}

.invitation__address {
  color: @color-dark-grey;
  font-size: 14px;
  line-height: 20px;
  font-family: @text-font;
  font-style: normal;
}
