.main-header {
  background-color: @main-theme-color;
  padding-top: 10px;
  padding-bottom: 17px;
  align-items: center;
  width: auto;
}

.main-header__logo {
  margin-right: 57px;
}

@media (min-width: @tablet-width) {
  .main-header {
    display: flex;
  }
}
