.main-footer {
  background-color: @color-light-grey;
}

.main-footer__logo-name {
  padding-top: 39px;
  padding-bottom: 32px;
  text-align: center;
}

.main-footer__invitation {
  padding-top: 26px;
  padding-left: 20px;
  padding-right: 20px;
}

.main-footer__social {
  padding-top: 23px;
  padding-bottom: 23px;
}

.main-footer__copyright {
  padding-left: 19px;
  padding-right: 20px;
  padding-top: 22px;
  padding-bottom: 22px;
}
