.main-footer {
  background-color: @block-background-color-additional;
}

.main-footer__wrapper {
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width;
  }

  @media (min-width: @dekstop-width) {
    width: @dekstop-width;
  }
}

.main-footer__logo-name {
  padding-top: 39px;
  padding-bottom: 32px;
  text-align: center;
}

.main-footer__social {
  padding-top: 23px;
  padding-bottom: 17px;
  padding-left: 75px;
  padding-right: 75px;
}

.main-footer__copyright {
  padding-left: 0;
  padding-right: 0;
  padding-top: 22px;
  padding-bottom: 22px;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .copyright__footer:not(:last-of-type) {
    margin-right: 22px;
  }

  .main-footer__copyright {
    padding-right: 0;
  }
}

@media (min-width: @dekstop-width) {
  .main-footer__wrapper {
    padding-left: 110px;
    padding-right: 110px;
  }

  .main-footer__footer-logo {
    .main-footer__logo-name-link:hover & {
      opacity: 0.8;
    }

    .main-footer__logo-name-link:active & {
      opacity: 0.6;
    }
  }
}
