.main-section {
  background: linear-gradient(to bottom, @color-basic-green, @color-white);
  text-align: center;
  background-image: url("../img/main-section-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;
  color: @color-white;
}

.main-section__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 25px;
}

.main-section__slogan {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.main-section__image {
  display: block;
  width: 280px;
  height: 270px;
}

.main-section__choose-program-button {
  color: @color-white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  display: block;
  background-color: @color-basic-green;
  padding: 7px 44px;
}
