.page-container {
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .page-container {
    width: @tablet-width;
    padding: 0 30px;
    margin: 0 auto;
  }
}

@media (min-width: @dekstop-width) {
  .page-container {
    width: @dekstop-width;
    padding: 0 110px;
    margin: 0 auto;
  }
}
