.product__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.product__info-wrapper {
  display: flex;
  margin-bottom: 22px;
}

.product__characteristics-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.product__characteristics-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__characteristics-property {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__characteristics-value {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product__purchase {
  display: block;
  width: 280px;
  text-align: center;
  background-color: #68b738;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
