.programs {
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.programs__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.programs__item {
  background-color: @color-light-grey;
  margin-bottom: 20px;

  &--slim {
    background-image: url("../img/slim-icon.svg");
    background-repeat: no-repeat;
    background-position: 22px 21px;
  }

  &--pro {
    background-image: url("../img/pro-icon.svg");
    background-repeat: no-repeat;
    background-position: 13px 24px;
  }
}

.programs__item-wrapper {
  padding-left: 20px;
  padding-right: 33px;
  padding-bottom: 18px;
  padding-top: 30px;
}

.programs__title {
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: @color-black;
  font-family: inherit;
  margin: 0;
  font-weight: 400;
  margin-bottom: 29px;
  margin-left: 71px;
}

.programs__description {
  color: @color-dark-grey;
  font-family: "Arial'", sans-serif;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  margin-bottom: 38px;
}

.programs__select-program {
  font-family: inherit;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: @color-black;
}
