.questionnaire {
  padding-top: 27px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 32px;

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @color-border-decoration-additional;
  }
}

.questionnaire__wrapper-basic-and-aim {
  margin: 0 auto;
}

.questionnaire__title-wrapper {
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 630px;
  }

  @media (min-width: @dekstop-width) {
    width: 1220px;
  }
}

.questionnaire__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 37px;
}

.questionnaire__description {
  margin: 0;
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.questionnaire__button {
  border: none;
  display: block;
  font-family: @main-font;
  background-color: @additional-theme-color;
  color: @main-theme-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 7px 44px;
  width: 100%;
  margin-bottom: 21px;

  &:hover {
    background-color: @color-button-hover;
  }

  &:active {
    color: fade(@main-theme-color, 30%);
    background-color: @color-button-hover;
  }
}

.questionnaire__submit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: 565px;
  }

  @media (min-width: @dekstop-width) {
    width: 830px;
    padding-left: 70px;
  }
}

.questionnaire__required {
  font-family: @text-font;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

@media (min-width: @tablet-width) {
  .questionnaire__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  .questionnaire {
    padding-bottom: 72px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 64px;
  }

  .questionnaire__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    width: 323px;
  }

  .questionnaire__submit-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 565px;
  }

  .questionnaire__button {
    font-size: 20px;
    line-height: 0;
    width: 282px;
    height: 52px;
    margin-bottom: 0;
    margin-right: 61px;
  }

  .questionnaire__required {
    font-size: 16px;
  }
}

@media (min-width: @dekstop-width) {
  .questionnaire {
    padding-bottom: 82px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top: 73px;
  }

  .questionnaire__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  .questionnaire__description {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
  }

  .questionnaire__wrapper-basic-and-aim {
    display: grid;
    grid-template-columns: 569px 568px;
    column-gap: 80px;
  }

  .questionnaire__button {
    font-size: 20px;
    line-height: 0;
    width: 568px;
    height: 52px;
    margin-bottom: 0;
    margin-right: 81px;
  }

  .questionnaire__submit-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
  }
}
