.site-list {
  list-style-type: none;
  background-color: @main-theme-color;
  width: 100%;
}

.site-list__link {
  font-family: @main-font;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @main-text-color;
  text-decoration: none;
  display: block;
  padding-top: 22px;
  padding-bottom: 24px;
}

.site-list__item {
  text-align: center;

  @media (max-width: @mobile-width-only) {
    border-top: 1px solid @color-border-decoration;

    &:last-of-type {
      border-bottom: 1px solid @color-border-decoration;
    }
  }
}

.main-nav--nojs .site-list__item {
  display: block;
}

@media (min-width: @tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 440px;
  }

  .site-list__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 10px;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .site-list__item:not(:last-of-type) {
    margin-right: 33px;
  }

  .site-list__item {
    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: @additional-theme-color;
      }
    }
  }
}

@media (min-width: @dekstop-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 490px;
    background-color: transparent;
  }

  .site-list__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    padding-top: 0;
    padding-bottom: 8px;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }

    &--main-page {
      color: @main-theme-color;
    }
  }

  .site-list__item:not(:last-of-type) {
    margin-right: 36px;
  }

  .site-list--main-page .site-list__item--current {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: @main-theme-color;
    }
  }

  .site-list__item {
    &--current {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        background-color: @additional-theme-color;
      }
    }
  }
}
