@main-theme-color: #ffffff;
@main-text-color: #000000;
@additional-theme-color: #68b738;
@description-main-color: #444444;
@description-color-2: #222222;
@block-background-color: #eaeaea;
@block-background-color-2: #f2f2f2;
@description-color-3: #111111;
@color-border-form: #e7e7e7;

@main-font: "Oswald", @text-font;
@text-font: "Arial", sans-serif;

@tablet-width: 768px;
@dekstop-width: 1440px;
